**/node_modules/**
/app/
.idea
!/node-exercises/basic/
#!/node-exercises/posting/
#!/node-exercises/static-assets/
#!/node-exercises/params/
#!/node-exercises/cheer-jeer/
#!/node-exercises/express/
/node-exercises/
